body {
    background-image: url(../css/images/background.png);   
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: rgb(205, 205, 205);
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.container-clock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.clock-block {
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 2px solid rgba(156, 156, 156, 0.24);
    backdrop-filter: blur(55px);
    box-shadow: 13px 20px 26px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 13px 20px 26px -8px rgba(0,0,0,0.75);
}

.title {
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: rgba(255, 255, 255, 0.319);
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.405), 0 0 10px rgba(255, 255, 255, 0.329);}

.text-time {
    font-size: 20px;
    margin-top: 15px;
    color: rgba(148, 148, 148, 0.31);
}


